<?xml version="1.0" encoding="UTF-8"?>
<vxml version="2.0"
      xml:lang="en-us">
    <noinput>
        Please choose subcategory.
        <reprompt/>
    </noinput>

    <form id="start">
        <prompt>
            News for {{ category }}.
            {% for info in news %}
                {{ info.title }}:
                {{ info.content }}.
            {% endfor %}
        </prompt>
        <field name="subscription_listen" expr="'no'">
            <prompt>
                Would you like to subscribe for {{ category }} news?
            </prompt>
            <grammar mode="voice" root="subscribe">
                <rule id="subscribe" scope="public">
                    <one-of>
                        <item>yes</item>
                        <item>no</item>
                    </one-of>
                </rule>
            </grammar>
            <filled>
                <if cond="subscription_listen == 'no'">
                    <goto next="#end"/>
                </if>
            </filled>
        </field>

        <subdialog name="subscription" src="{{ path('subscribe') }}">
            <param name="category" expr="{{ category }}"/>
        </subdialog>

        <filled namelist="subscription">
            You want to receive
            <value expr="subscription.frequency"/>
            messages for category
            <value expr="{{ category }}"/>
            sent to phone number
            <value expr="subscription.phoneNumber"/>
            <goto next="#end"/>
        </filled>
    </form>

    <form id="end">
        <field name="ending">
            <prompt>
                Would you like to hear or subscribe for more news?
            </prompt>
            <grammar mode="voice" root="end">
                <rule id="end" scope="public">
                    <one-of>
                        <item>yes</item>
                        <item>no</item>
                    </one-of>
                </rule>
            </grammar>
            <filled>
                <if cond="ending=='yes'">
                    <clear/>
                    <submit next="{{ path('main') }}"/>
                <elseif cond="ending=='no'"/>
                    <prompt>
                        Goodbye, thanks for calling.
                    </prompt>
                </if>
            </filled>
        </field>
    </form>
</vxml>
